@mixin link-dynamics($color--hover, $color--active) {
  &:hover,
  &:focus {
    color: $color--hover;
  }

  &:active {
    color: $color--active;
  }
}

@mixin button-dynamics($color--hover, $color--active, $bg-color--hover, $bg-color--active) {
  &:hover,
  &:focus {
    color: $color--hover;
    background-color: $bg-color--hover;
  }

  &:active {
    color: $color--active;
    background-color: $bg-color--active;
  }
}

@mixin font($size, $height) {
  font-size: $size;
  line-height: $height / $size;
}

@mixin outline($color) {
  outline: 2px solid $color;
}

@mixin list-reset-style() {
  padding: 0;
  margin: 0;

  list-style: none;
}
