.catalog {
  margin-top: 30px;

  @media #{$tablet} {
    margin-top: 80px;
  }

  @media #{$desktop} {
    margin-top: 128px;
  }
}

.catalog__wrapper {
  width: $mobile-width-inner;
  margin: 0 auto;

  @media #{$tablet} {
    width: $tablet-width-inner;
  }

  @media #{$desktop} {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: $desktop-width-inner;
  }
}

.catalog__item {
  margin-bottom: 30px;

  @media #{$tablet} {
    margin-bottom: 52px;
  }

  @media #{$desktop} {
    margin-bottom: 57px;
  }
}
