.catalog {
  margin-top: 30px;

  @media #{$tablet} {
    margin-top: 80px;
  }

  @media #{$desktop} {
    margin-top: 128px;
  }
}

.catalog__wrapper {
  display: flex;
  flex-direction: column;

  width: $mobile-width-inner;
  margin: 0 auto;

  @media #{$tablet} {
    width: $tablet-width-inner;
  }

  @media #{$desktop} {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    width: $desktop-width-inner;
  }
}

.catalog__item {
  margin-bottom: 30px;

  @media #{$tablet} {
    margin-bottom: 53px;
  }

  @media #{$desktop} {
    margin-bottom: 57px;
  }
}
