.contacts {
  margin-top: 40px;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-top: 70px;
    margin-bottom: 57px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;

    width: $desktop-width-inner;  // для корректного размещения карты
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 105px;
  }
}

.contacts__wrapper {
  position: relative;
  width: $mobile-width-inner;
  margin: 0 auto;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;

    margin-bottom: 25px;

    width: $tablet-width-inner;
  }

  @media (min-width: $desktop-width) {
    width: 50%;
    flex-direction: column;
    //align-content: flex-start;

    margin-bottom: 52px; // резерв для кнопки
    padding-right: 0;
    padding-left: 175px;
    box-sizing: border-box;
  }

  &::after {
    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;

      top: -15px;
      right: 0;
      width: 47px;
      height: 81px;

      background-repeat: no-repeat;
      background-image: url("../img/icon-flag.svg");
    }

    @media (min-width: $desktop-width) {
      top: 63px;
      left: 63px;
    }
  }
}

.contacts__title {
  margin-bottom: 32px;

  font-size: 1.2rem;
  line-height: 1.67;
  color: $headings-color;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin-bottom: 50px;

    @include font(43px, 50px);
  }

  @media (min-width: $desktop-width) {
    margin-top: 70px;

    @include font(53px, 57px);
  }
}

.contacts__item {
  display: flex;
  line-height: 2;

  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    width: 50%;

    @include font(17px, 30px);
  }

  @media (min-width: $desktop-width) {
    width: 307px;
  }
}

.contacts__parameter {
  width: 78px;
  flex-shrink: 0;
}

.contacts__value--link {
  position: relative;

  color: $gray-dark;

  transition: color 0.3s ease;

  @include action($green-link, rgba($green-link, 0.3));
  //@include accessibility(); ссылка мееяет цвет -- нужна ли обводка?

  &::after {
    content: "";
    position: absolute;

    bottom: 0;
    left: 0;

    width: 100%;
    height: 1px;

    background-color: $green;

    transition: background-color 0.3s ease;
  }

  &:active::after {
    background-color: rgba($green, 0.2);
  }
}

.contacts__map {
  width: 100%;
  height: 457px;
  margin-bottom: 40px;

  background-color: #e9e2d7;
  background-image: url("../img/map-mobile@1x.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/map-mobile@2x.jpg");
    //background-size: 322px 457px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;

    background-image: url("../img/map-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/map-tablet@2x.jpg");
      //background-size: 768px 457px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 525px;
    margin-bottom: 0;

    background-image: url("../img/map-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/map-desktop@2x.jpg");
      background-size: 525px 457px;
    }
  }
}

.contacts__write {
  width: $mobile-width-inner;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 230px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -52px;
    margin-right: 0;
    margin-left: 175px;
  }
}
