.contacts {
  margin-top: 36px;
  margin-bottom: 38px;

  @media #{$tablet} {
    margin-top: 60px;
    margin-bottom: 57px;
  }

  @media #{$desktop} {
    display: flex;
    flex-wrap: wrap;

    width: $desktop-width-inner;  // для корректного размещения карты
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 105px;
  }
}

.contacts__wrapper {
  position: relative;

  width: $mobile-width-inner;
  margin: 0 auto;
  margin-bottom: 37px;

  @media #{$tablet} {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;

    width: $tablet-width-inner;
    margin-bottom: 28px;
  }

  @media #{$desktop} {
    flex-direction: column;

    box-sizing: border-box;
    width: 50%;
    padding-right: 0;
    padding-left: 175px;
    //align-content: flex-start;
    margin-bottom: 52px; // резерв для кнопки
  }

  &::after {
    @media #{$tablet} {
      content: "";
      position: absolute;
      top: -15px;
      right: 2px;

      width: 47px;
      height: 81px;

      background-image: url("../img/icon-flag.svg");
      background-repeat: no-repeat;
    }

    @media #{$desktop} {
      top: 63px;
      left: 63px;
    }
  }
}

.contacts__title {
  margin: 0;
  margin-bottom: 27px;

  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.67;
  color: $headings-color;

  @media #{$tablet} {
    @include font(43px, 50px);

    width: 100%;
    margin-bottom: 50px;
  }

  @media #{$desktop} {
    @include font(53px, 57px);

    padding-top: 70px;
  }
}

.contacts__item {
  display: flex;

  margin-bottom: 30px;

  line-height: 2;

  @media #{$tablet} {
    @include font(17px, 30px);

    width: 50%;
  }

  @media #{$desktop} {
    width: 307px;
  }
}

.contacts__parameter {
  flex-shrink: 0;

  width: 78px;
}

.contacts__value {
  margin: 0;
}

.contacts__value--link {
  @include link-dynamics($green-link, rgba($green-link, 0.3));

  position: relative;

  color: $gray-dark;

  transition: color 0.3s ease;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 1px;

    background-color: $green;

    transition: background-color 0.3s ease;
  }

  &:active::after {
    background-color: rgba($green, 0.2);
  }
}

.contacts__map {
  width: 100%;
  height: 457px;
  margin-bottom: 39px;

  background-color: #e9e2d7;
  background-image: url("../img/icon-map-pin.svg"),
    url("../img/map-mobile@1x.jpg");
  background-position: 52% 40%, center;
  background-repeat: no-repeat;
  background-size: auto, cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/icon-map-pin.svg"),
      url("../img/map-mobile@2x.jpg");
    background-size: auto, 50% / cover;
  }

  @media #{$tablet} {
    margin-bottom: 55px;

    background-image: url("../img/icon-map-pin.svg"),
      url("../img/map-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/icon-map-pin.svg"),
        url("../img/map-tablet@2x.jpg");
    }
  }

  @media #{$desktop} {
    width: 525px;
    margin-bottom: 0;

    background-image: url("../img/icon-map-pin.svg"),
      url("../img/map-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/icon-map-pin.svg"),
        url("../img/map-desktop@2x.jpg");
      background-size: auto, 525px 457px;
    }
  }
}

.contacts__write {
  width: $mobile-width-inner;
  margin: 0 auto;

  @media #{$tablet} {
    width: 230px;
  }

  @media #{$desktop} {
    margin-top: -52px;
    margin-right: 0;
    margin-left: 175px;
  }
}
