.copyright__link {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 182px;

  font-size: 1.27rem;
  font-weight: 700;
  line-height: 1;
  color: $black;

  @media #{$mobile-only} {
    min-height: 80px;
    margin: 0 auto;
  }

  @media #{$tablet} {
    //padding-right: 40px;
  }
}

.copyright__text {
  transition: all 0.3s ease;
}

.copyright__icon {
  fill: $green;

  transition: all 0.3s ease;
}

.copyright__link:active {
  color: rgba($black, 0.3);
}

.copyright__link:active .copyright__icon {
  fill: rgba($green, 0.3);
}
