.copyright__wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 182px;

  font-size: 1.27rem;
  font-weight: 700;
  line-height: 1;

  @media #{$mobile-only} {
    min-height: 80px;
    margin: 0 auto;
  }

  @media #{$tablet} {
    padding-top: 5px;
  }
}

.copyright__link {
  order: 1;
}

.copyright__text {
  display: block;

  padding-bottom: 7px;

  transition: all 0.3s ease;
}

.copyright__icon {
  fill: $green;

  transition: all 0.3s ease;
}

.copyright__link:active .copyright__icon {
  fill: rgba($green, 0.3);
}

.copyright__link:active + .copyright__text {
  color: rgba($black, 0.3);
}
