.features {
  margin-bottom: 56px;

  @media (min-width: $tablet-width) {
    margin-bottom: 61px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 68px;
  }
}

.features__wrapper {
  width: $mobile-width-inner;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: $tablet-width-inner;
  }

  @media (min-width: $desktop-width) {
    box-sizing: border-box;
    width: $desktop-width-inner;
    padding-right: 0;
    padding-left: 175px;
  }
}

.features__title {
  padding-top: 30px;
  margin: 0;
  margin-bottom: 2px;

  font-size: 1.67rem;
  font-weight: 700;
  line-height: 1.2;
  color: $headings-color;

  @media (min-width: $tablet-width) {
    @include font(43px, 50px);

    padding-top: 5px;
    margin-bottom: 18px;
  }

  @media (min-width: $desktop-width) {
    @include font(53px, 57px);

    padding-top: 20px;
  }
}

.features__list {
  @include list-reset-style();

  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    width: 700px;
  }
}

.features__item {
  position: relative;

  padding-top: 84px;

  font-size: 1.13rem;
  font-weight: 700;
  line-height: 1.2;
  color: $gray-dark;

  @media (min-width: $tablet-width) {
    @include font(20px, 22px);

    width: 50%;
    margin-bottom: 26px;
  }

  &::before {
    content: "";
    position: absolute;

    background-position: 0 0;
    background-repeat: no-repeat;
  }

  .features__icon {
    position: absolute;

    fill: $green;

    &--eco-friendly {
      top: 29px;
      left: 7px;

      width: 32px;
      height: 38px;

      @media (min-width: $tablet-width) {
        order: 1;
      }
    }

    &--scandinavian-style {
      top: 31px;
      left: 0;

      width: 47px;
      height: 27px;

      @media (min-width: $tablet-width) {
        order: 3;
      }
    }

    &--popularity-increase {
      top: 36px;
      left: 6px;

      width: 34px;
      height: 27px;

      @media (min-width: $tablet-width) {
        order: 5;
      }
    }

    &--hand-made {
      top: 32px;
      left: 4px;

      width: 35px;
      height: 35px;

      @media (min-width: $tablet-width) {
        order: 2;
      }
    }

    &--domestic-production {
      top: 32px;
      left: -4px;

      width: 55px;
      height: 23px;

      @media (min-width: $tablet-width) {
        order: 4;
      }
    }

    &--gift-wrap {
      top: 32px;
      left: 4px;

      width: 33px;
      height: 32px;

      @media (min-width: $tablet-width) {
        order: 6;
      }
    }
  }
}
