.form__wrapper {
  padding-bottom: 10px;

  @media #{$tablet} {
    padding-top: 51px;
    padding-bottom: 30px;
  }

  &--gray {
    @media #{$tablet} {
      background-color: $gray-light;
    }
  }

  &--name {
    @media #{$tablet} {
      padding-bottom: 21px;
    }
  }
}

.form__fieldset {
  padding: 0;
  margin: 0;

  border: none;

  @media #{$tablet} {
    width: $tablet-width-inner;
    margin: 0 auto;
  }

  @media #{$desktop} {
    width: $desktop-width-inner;
  }
}

.form__inner {
  display: flex;
  flex-direction: column;

  @media #{$tablet} {
    flex-direction: row;
  }
}

.form__title {
  @include font(17px, 17px);

  margin: 0;

  font-weight: 700;
  color: $green;
  text-transform: uppercase;

  @media #{$mobile-only} {
    display: flex;
    flex-grow: 0;

    margin-bottom: 24px;
  }

  @media #{$tablet} {
    display: block;
    flex-shrink: 0;

    width: 167px;
    padding-top: 16px;
  }

  @media #{$desktop} {
    box-sizing: border-box;
    width: 175px;
    padding-left: 60px;
  }

  &::after { // декоративный элемент
    @media #{$mobile-only} {
      content: "";

      align-self: center;
      flex-grow: 2;

      width: 5px;
      height: 1px;
      margin-left: 21px;

      background-color: $green;
    }
  }

  &--name {
    @media #{$mobile-only} {
      margin-bottom: 30px;
    }
  }

  &--phone,
  &--mail {
    @media #{$mobile-only} {
      margin-bottom: 8px;
    }
  }

  &--phone,
  &--mail,
  &--textarea {
    cursor: pointer;
  }
}

.form__fieldset-inner {
  display: flex;
  flex-direction: column;

  &--columns {
    @media #{$tablet} {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}

.form__label,
.form__radio-label,
.form__checkbox-label {
  @include font(17px, 17px);

  font-weight: 700;
  color: $black;

  cursor: pointer;

  @media #{$tablet} {
    @include font(19px, 19px);
  }
}

.form__radio-label,
.form__checkbox-label {
  position: relative;

  box-sizing: border-box;
  min-height: 38px;
  padding-top: 12px;
  padding-left: 62px;
  margin-bottom: 13px;

  @media #{$tablet} {
    min-height: 52px;
    padding-top: 15px;
    padding-left: 80px;
    margin-bottom: 22px;
  }

  // стилизуем кастомные радиобаттоны и чекбоксы
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 37px;
    height: 37px;

    cursor: pointer;

    border: 2px solid $gray-dark;

    transition: border-color 0.2s ease;

    @media #{$tablet} {
      width: 50px;
      height: 50px;
    }
  }

  &:hover::before {
    border-color: $green;
  }

  &:active::before {
    border-color: $gray-border-dark;
  }

  // состояние -- не выбрано
  &::after {
    content: "";
    position: absolute;

    cursor: pointer;

    opacity: 0;

    transition: opacity 0.2s ease-in;
  }
}

.form__checkbox-label {
  margin-bottom: 23px;

  @media #{$tablet-only} {
    width: 237px;

    &:nth-of-type(odd) {
      margin-right: 25px;
    }
  }

  @media #{$desktop} {
    width: 262px;
  }
}

.form__radio-label:last-of-type {
  margin-bottom: 22px;
}
// для доступности
.form__radio:focus + label::before,
.form__checkbox:focus + label::before {
  border-color: $green;
}

.form__radio-label::before {
  border-radius: 50%;
}

.form__radio-label::after {
  top: 12px;
  left: 12px;

  width: 16.5px;
  height: 16.5px;

  background-color: $green;
  border-radius: 50%;

  @media #{$tablet} {
    top: 16px;
    left: 16px;

    width: 22px;
    height: 22px;
  }
}

.form__checkbox-label::after {
  top: 12px;
  left: 10px;

  width: 18px;
  height: 8px;

  border: 2px solid $gray-dark;
  border-top-style: none;
  border-right-style: none;
  border-radius: 1px;

  transform: rotate(-45deg);

  @media #{$tablet} {
    top: 16px;
    left: 13px;

    width: 28px;
    height: 13px;

    border-width: 3px;
  }
}

// состояние -- выбрано
.form__radio:checked + .form__radio-label,
.form__radio-label:active {
  &::after {
    opacity: 1;
  }
}

.form__checkbox:checked + .form__checkbox-label,
.form__checkbox-label:active {
  &::after {
    opacity: 1;
  }
}

.form__checkbox:checked + .form__checkbox-label:active {
  &::after {
    opacity: 0;
  }
}

// --- оформление полей ФИО, ТЕЛ, E-MAIL ---
.form__text-wrapper {
  display: flex;
  flex-direction: column;

  @media #{$tablet} {
    flex-direction: row;
    justify-content: space-between;

    width: 500px;
    margin-bottom: 3px;
  }

  @media #{$desktop} {
    width: 700px;
  }
}

.form__label {
  @media #{$mobile-only} {
    margin-bottom: 2px;
  }

  @media #{$tablet} {
    padding-top: 13px;
    margin-right: 25px;
  }
}

.form__text {
  @include font(17px, 18px);

  box-sizing: border-box;
  height: 50px;
  padding-top: 5px;
  padding-right: 46px;
  padding-bottom: 7px;
  margin-bottom: 24px;

  font-family: $font-family;

  background-color: transparent;
  border: none;
  border-bottom: 2px solid $black;

  outline: none;

  transition: border-color 0.3s ease;

  @media #{$tablet} {
    @include font(19px, 19px);

    width: 100%;
    padding-right: 60px;
    padding-left: 16px;
  }

  @media #{$desktop} {
    width: 700px;
    padding-right: 46px;
  }

  &:hover,
  &:focus,
  &:active {
    border-bottom: 2px solid $green;
  }

  &:active {
    color: $gray-dark;
  }

  &--phone {
    @media #{$mobile-only} {
      width: 100%;
      margin-bottom: 30px;
    }
  }

  &--mail {
    @media #{$mobile-only} {
      width: 100%;
    }
  }
}

// --- оформление иконок ---
.form__input-wrapper {
  position: relative;

  @media #{$tablet} {
    width: 500px;
  }

  @media #{$desktop} {
    width: 700px;
  }
}

.form__icon {
  position: absolute;
  top: 8px;
  right: 5px;

  fill: #c1c1c1;

  transition: fill 0.3s ease;

  @media #{$tablet} {
    right: 23px;
  }

  @media #{$desktop} {
    right: 3px;
  }

  &--phone {
    width: 25px;
    height: 25px;
  }

  &--mail {
    width: 32px;
    height: 32px;
  }
}

.form__text:hover + .form__icon,
.form__text:focus + .form__icon,
.form__text:active + .form__icon {
  fill: $green;
}

// --- оформление поля ДОП ---
.form__textarea {
  @include font(17px, 18px);

  box-sizing: border-box;
  height: 140px;
  padding: 13px 16px;

  font-family: $font-family;

  border: 2px solid $black;

  outline: none;

  transition: border-color 0.3s ease;

  @media #{$tablet} {
    @include font(19px, 19px);

    width: 100%;
  }

  @media #{$desktop} {
    width: 700px;
  }

  &:hover,
  &:focus,
  &:active {
    border: 2px solid $green;
  }
}

.form__footer {
  margin-top: 8px;

  @media #{$tablet} {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: $tablet-width-inner;
    margin: 0 auto;
    margin-top: 25px;
  }

  @media #{$desktop} {
    width: 700px;
    margin: 0 auto;
    margin-top: 20px;
  }
}

.form__note {
  @include font(14px, 16px);

  @media #{$tablet} {
    @include font(17px, 30px);

    padding-bottom: 5px;
    margin: 0;
    margin-left: 40px;
  }
}

.form__send {
  width: 100%;
  margin-top: 31px;

  @media #{$tablet} {
    flex-shrink: 0;
    order: -1;

    width: 230px;
    margin-top: 0;
  }
}
