.hit {
  position: relative;

  margin-top: 28px;

  @media #{$tablet} {
    margin-top: 45px;
    margin-bottom: 40px;
  }

  @media #{$desktop} {
    margin-top: 70px;
  }
}

.hit__wrapper {
  width: $mobile-width-inner;
  padding: 0 30px;
  margin: 0 auto;

  background-image: url("../img/bg-zigzag-line.svg");
  background-position: left bottom;
  background-repeat: repeat-x;
  background-size: 320px 7px;

  @media #{$tablet} {
    display: flex;
    align-content: flex-end;
    flex-wrap: wrap;
    justify-content: space-between;

    width: $tablet-width-inner;
    padding: 0 50px;

    background-size: 768px 17px;
  }

  @media #{$desktop} {
    box-sizing: border-box;
    width: $desktop-width-inner;
    padding: 0;

    background-size: 1050px 23px;
  }
}

.hit__title {
  margin: 0;
  margin-bottom: 5px;

  font-size: 1.67rem;
  font-weight: 700;
  line-height: 1.2;
  color: $headings-color;

  @media #{$tablet} {
    @include font(43px, 50px);

    flex-grow: 1;

    margin-bottom: 57px;
  }

  @media #{$desktop} {
    @include font(53px, 57px);

    z-index: 5;

    margin-top: 55px;
  }
}

.hit__type {
  margin: 0;
  margin-bottom: 23px;

  font-size: 1.13rem;
  font-weight: 700;
  line-height: 1.2;
  color: $green;
  text-transform: uppercase;

  @media #{$tablet} {
    flex-grow: 0;

    width: 75px;
    padding-right: 25px;
    margin-top: 10px;

    line-height: 1;
    text-align: center;
  }

  @media #{$desktop} {
    order: -1;

    padding-right: 0;
    padding-left: 47px;
    margin-top: 70px;
    margin-right: 53px;
  }
}

.hit__info {
  @media #{$tablet} {
    width: 290px;
    margin-bottom: 150px; // уравновешиваем отрицательный отступ в hit__buy
  }

  @media #{$desktop} {
    margin-left: 175px;
  }
}

.hit__description {
  margin: 0;
  margin-bottom: 17px;

  line-height: 1.6;

  @media #{$tablet} {
    @include font(17px, 30px);

    margin-top: -7px;
    margin-bottom: 37px;
  }

  @media #{$desktop} {
    margin-bottom: 48px;
  }
}

.hit__table {
  @include font(15px, 20px);

  width: 100%;
  margin-bottom: 27px;

  border-collapse: collapse;

  @media #{$tablet} {
    margin-bottom: 56px;
  }

  @media #{$desktop} {
    margin-bottom: 110px;
  }
}

.hit__table tr {
  border-bottom: 1px solid $gray-light;
}

.hit__parameter {
  width: 38%;
  padding-top: 10px;
  padding-bottom: 10px;

  font-weight: 400;
  text-align: left;

  @media #{$tablet} {
    width: 34%;
  }
}

.hit__image img {
  display: block;

  margin-bottom: 26px;

  background-color: $gray-light;

  @media #{$tablet} {
    width: 333px;
    margin-bottom: 0;
  }

  @media #{$desktop} {
    width: 525px;
    margin-top: -167px;
  }
}

.hit__buy {
  display: flex;
  align-items: center;
  flex-direction: column;

  @media #{$tablet} {
    width: 291px;
    margin-top: -150px;
  }

  @media #{$desktop} {
    margin-left: 175px;
  }
}

.hit__price {
  margin-bottom: 26px;

  font-size: 1.13rem;
  font-weight: 700;
  line-height: 1.4;

  @media #{$tablet} {
    @include font(20px, 24px);

    margin-bottom: 33px;
  }
}

.hit__order {
  width: 100%;
  margin-bottom: 42px;

  @media #{$tablet} {
    margin-bottom: 69px;
  }

  @media #{$desktop} {
    margin-bottom: 96px;
  }
}
