.hit {
  margin-top: 30px;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-top: 50px;
    margin-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 70px;
    margin-bottom: 96px;
  }
}

.hit__wrapper {
  width: $mobile-width-inner;
  margin: 0 auto;

  // временно для сетки
  @include outline(#d5eb2a);

  @media (min-width: $tablet-width) {
    width: $tablet-width-inner;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width-inner;
    padding-right: 0;
    padding-left: 170px;
    box-sizing: border-box;
  }
}

.hit__title {
  margin-bottom: 10px;

  font-size: 1.67rem;
  line-height: 1.2;
  color: $headings-color;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    @include font(43px, 50px);
  }

  @media (min-width: $desktop-width) {
    @include font(53px, 57px);
  }
}

.hit__type {
  margin-bottom: 25px;

  font-size: 1.13rem;
  line-height: 1.2;
  color: $green;
  font-weight: 700;
  text-transform: uppercase;
}

.hit__description {
  margin-bottom: 25px;

  line-height: 1.6;

  @media (min-width: $tablet-width) {
    @include font(17px, 30px);
  }
}

.hit__table {
  margin-bottom: 28px;
  width: 100%;

  border-collapse: collapse;

  & tr {
    border-bottom: 1px solid $gray-light;
  }
}

.hit__parameter {
  width: 35%;

  font-weight: 400;

  text-align: left;
}

.hit__image img {
  display: block;

  background-color: $gray-light;

  @media (min-width: $tablet-width) {
    width: 333px;
  }

  @media (min-width: $desktop-width) {
    width: 525px;
  }
}

.hit__price {
  font-size: 1.13rem;
  line-height: 1.4;

  font-weight: 700;

  @media (min-width: $tablet-width) {
    @include font(20px, 24px);
  }
}
