.item {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;

  border: 1px solid #ececec;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;

    width: 315px;
  }
}

.item__image-link {
  background-color: #ededed;

  @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
    width: 334px;
  }
}

.item__image img {
  display: block;
}

.item__wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  box-sizing: border-box;
  padding-right: 27px;
  padding-bottom: 5px;
  padding-left: 27px;

  @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
    width: 50%;
  }

  @media (min-width: $tablet-width) {
    padding-right: 30px;
  }

  &:hover {
    box-shadow: 0 6px 10px 0 rgba($black, 0.1);
  }
}

.item__title {
  @include font(17px, 24px);

  margin: 0;

  font-weight: 700;

  @media (min-width: $tablet-width) {
    @include font(20px, 24px);
  }
}

.item__title-link {
  @include action($link-color--hover, $link-color--active);
  @include accessibility();

  display: block;

  padding-top: 27px;
  padding-bottom: 8px;

  color: $link-color;

  cursor: pointer;

  @media (min-width: $tablet-width) {
    padding-bottom: 4px;
  }
}

.item__parameters {
  @include font(13px, 30px);

  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    @include font(15px, 30px);
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 15px;
  }
}

.item__buy {
  display: flex;
  align-items: center;
  justify-content: space-between;

  min-height: 65px;
  margin-top: auto; // для расположения снизу

  border-top: 1px solid $gray-light;
}

.item__price {
  @include font(15px, 24px);

  font-weight: 700;

  @media (min-width: $tablet-width) {
    @include font(17px, 24px);
  }
}

.item__basket {
  @include accessibility();
}

.item__icon {
  fill: rgba($black, 0.2);

  transition: fill 0.3s ease;

  &:hover,
  &:focus {
    fill: $green;
  }

  &:active {
    fill: rgba($green, 0.3);
  }
}
