.item {
  display: flex;
  flex-direction: column;

  border: 1px solid #ececec;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    width: 315px;
  }
}

.item__image-link {
  background-color: #ededed;

  @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
    width: 334px;
  }
}

.item__image img {
  display: block;
}

.item__wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  flex-grow: 1;

  padding-left: 27px;
  padding-right: 27px;
  padding-bottom: 5px;

  @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
    width: 50%;
  }

  &:hover {
    box-shadow: 0 6px 10px 0 rgba($black, 0.1);
  }
}

.item__title {
  font-weight: 700;

  @include font(17px, 24px);

  @media (min-width: $tablet-width) {
    @include font(20px, 24px);
  }
}

.item__title-link {
  display: block;
  padding-top: 27px;
  padding-bottom: 8px;

  color: $link-color;

  cursor: pointer;

  @include action($link-color--hover, $link-color--active);
  @include accessibility();

  @media (min-width: $tablet-width) {
    padding-bottom: 4px;
  }
}

.item__parameters {
  margin-bottom: 20px;

  @include font(13px, 30px);

  @media (min-width: $tablet-width) {
    @include font(15px, 30px);
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 15px;
  }
}

.item__buy {
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 65px;
  margin-top: auto; // для расположения снизу

  border-top: 1px solid $gray-light;
}

.item__price {
  font-weight: 700;

  @include font(15px, 24px);

  @media (min-width: $tablet-width) {
    @include font(17px, 24px);
  }
}

.item__basket {
  @include accessibility();
}
