.main-nav {
  width: auto;

  @media (min-width: $tablet-width) {
    height: 148px;
  }
}

.main-nav__wrapper {
  position: relative;
  width: $mobile-width;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    z-index: 10;

    width: 668px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
    margin: 0 auto;
  }
}

.main-nav__logo {
  display: block;
  margin-top: 22px;
  margin-bottom: 22px;

  transition: opacity 0.3s ease-in;

  @media (min-width: $tablet-width) {
    align-self: flex-start;
  }

  @media (min-width: $desktop-width) {
    margin-top: 9px;
    order: 2;
  }

  &[href]:hover,
  &[href]:focus {
    opacity: 0.6;
  }

  &[href]:active {
    opacity: 0.3;
  }
}

.main-nav__logo-image {
  display: block;
  margin: 0 auto;
}

.main-nav__toggle {
  content: "";

  position: absolute;
  right: 28px;
  top: 6px;
  z-index: 10;

  display: block;
  width: 24px;
  height: 24px;

  cursor: pointer;

  border: 0;
  background-color: transparent;
  background-repeat: no-repeat;

  &:hover,
  &:focus,
  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

@media (max-width: $tablet-width - 1px) {
  .main-nav--closed .main-nav__toggle {
    background-image: url("../img/icon-menu-open.svg");
    background-position: 2px 3px;
  }

  .main-nav--opened .main-nav__toggle {
    background-image: url("../img/icon-menu-close.svg");
    background-position: 1px 1px;
  }

  .main-nav--closed .site-list,
  .main-nav--closed .user-list {
    @media (max-width: $tablet-width - 1px) {
      display: none;
    }
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
}
