@keyframes emersion {
  to {
    transform: translate(-50%, -50%);
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 30;

  box-sizing: border-box;
  width: $mobile-width;
  padding-right: 30px;
  padding-left: 30px;
  margin: 0 auto;

  background-color: $white;
  border: 1px solid $gray-border-dark;

  transform: translate(-50%, -550%);
  box-shadow: 0 5px 10px 0 rgba($black, 0.25);

  @media #{$tablet} {
    width: 568px;
    padding-right: 106px;
    padding-left: 106px;
  }

  &--show {
    animation: emersion 0.5s ease-out forwards;
  }
}

.modal__form {
  display: flex;
  align-items: center;
  flex-direction: column;

  margin-bottom: 46px;
}

.modal__title {
  margin: 0;
  margin-top: 35px;
  margin-bottom: 20px;

  font-size: 1.67rem;
  font-weight: 700;
  line-height: 1.2;
  color: $headings-color;
  text-align: center;
  text-transform: uppercase;

  @media #{$tablet} {
    @include font(30px, 57px);
  }
}

.modal__choose {
  margin: 0;
  margin-bottom: 25px;

  line-height: 2;

  @media #{$tablet} {
    @include font(17px, 30px);
  }
}

.modal__size-chart {
  display: flex;
  justify-content: space-between;

  width: 100%;
  margin-bottom: 30px;
}

.modal__label {
  box-sizing: border-box;
  width: 78px;
  height: 48px;
  padding-top: 14px;

  font-size: 1.13rem;
  font-weight: 700;
  line-height: 1;
  color: $gray-dark;
  text-align: center;

  cursor: pointer;

  border: 2px solid $gray-border;

  @media #{$tablet} {
    width: 108px;
  }

  &:hover {
    border: 2px solid $gray-border-dark;
  }
}

.modal__input:checked + .modal__label {
  border: 2px solid $green;
}

.modal__add {
  width: 100%;
}
