.order {
  margin-top: 25px;
  margin-bottom: 55px;

  @media #{$tablet} {
    margin-top: 70px;
    margin-bottom: 50px;
  }

  @media #{$desktop} {
    margin-top: 125px;
  }
}

.order__wrapper {
  @media #{$mobile-only} {
    width: $mobile-width-inner;
    margin: 0 auto;
  }
}

.order__content {
  @media #{$tablet} {
    width: $tablet-width-inner;
    margin: 0 auto;
  }

  @media #{$desktop} {
    width: $desktop-width-inner;
    margin: 0 auto;
  }
}

.order__description {
  @include font(13px, 24px);

  margin: 0;
  margin-bottom: 25px;

  @media #{$tablet} {
    @include font(17px, 30px);

    margin-bottom: 0;
  }

  @media #{$desktop} {
    padding-right: 175px;
    padding-left: 175px;
  }
}
