.page-header {
  position: relative;

  display: flex; // для корректного отображения в IE11, Источник: https://codepen.io/philipwalton/pen/JdvdJE
  flex-direction: column;

  font-weight: 700;
  color: $black;

  &::after {
    @media #{$tablet} {
      content: "";
      position: absolute;
      bottom: -12px;

      width: 100%;
      height: 24px;

      background-image: url("../img/bg-zigzag-fill.svg");
      background-position: center;
      background-repeat: repeat-x;
      background-size: 768px 24px;
    }

    @media #{$desktop} {
      bottom: -17px;

      height: 34px;

      background-size: 1150px 34px;
    }
  }
}

.page-header__content {
  box-sizing: border-box;
  min-height: 176px;

  background-color: $gray-light;
  border-top: 1px solid $gray-border;

  @media #{$tablet} {
    min-height: 225px;
    margin-top: -60px;
  }

  @media #{$desktop} {
    min-height: 255px;
    margin-top: -60px;
  }

  &--main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    min-height: 488px;

    background-color: #fafafa;
    background-image: url("../img/hero-mobile@1x.jpg");
    background-position: center -17px;
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-mobile@2x.jpg");
      background-size: 575px 373px;
    }

    @media #{$tablet} {
      min-height: 746px;

      background-image: url("../img/hero-tablet@1x.jpg");
      background-position: center 0;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/hero-tablet@2x.jpg");
        background-size: 1150px 746px;
      }
    }

    @media #{$desktop} {
      background-image: url("../img/hero-desktop@1x.jpg");
      background-position: center -55px;
      background-size: 1250px 810px; // высота подсчитана с помощью пропорции для избежания искажения изображения

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/hero-desktop@2x.jpg");
      }
    }
  }
}

.page-header__title {
  width: 255px;
  margin: 0 auto;
  margin-top: 70px; // отступ для заголовка страницы

  font-size: 1.8rem;
  line-height: 1.1;
  text-align: center;

  @media #{$tablet} {
    @include font(43px, 50px);

    width: $tablet-width-inner;
    margin-top: 93px;
  }

  @media #{$desktop} {
    @include font(53px, 57px);

    width: 700px;
  }

  &--main {
    margin-top: 71px;

    @media #{$tablet} {
      margin-top: 153px;
    }

    @media #{$desktop} {
      margin-top: 155px;
    }
  }
}

.page-header__categories {
  display: flex;
  flex-direction: column;

  width: $mobile-width;
  margin: 0 auto;

  @media #{$tablet} {
    flex-direction: row;

    width: $tablet-width-inner;
    height: 119px; // для корректной работы при наведении на категории
  }

  @media #{$desktop} {
    width: $desktop-width-inner;
  }
}

.page-header__category {
  @include link-dynamics($white, rgba($white, 0.3));

  position: relative;

  padding-top: 25px;
  padding-bottom: 29px;
  padding-left: 30px;

  font-size: 1.27rem;
  line-height: 1.3;
  color: $white;

  cursor: pointer;

  background-color: $green;

  transition: color 0.3s ease;

  @media #{$tablet} {
    @include font(20px, 30px);

    flex-grow: 1;

    padding-top: 28px;
    padding-left: 34px;

    transition: margin-top 0.3s ease;
  }

  &:hover {
    @media #{$tablet} {
      margin-top: -5px;
    }
  }

  &--interior {
    background-color: $green-secondary;
  }
}

.page-header__category span {
  display: block;

  width: 130px;
}

.page-header__icon {
  position: absolute;
  top: 20px;
  right: 26px;

  width: 61px;
  height: 61px;

  fill: $green-icon;

  opacity: 0.5;

  transition: opacity 0.3s ease;

  @media #{$tablet} {
    top: 30px;
    right: 33px;
  }

  &--interior {
    top: 23px;

    @media #{$tablet} {
      top: 30px;
      right: 25px;
    }
  }
}

.page-header__category:hover .page-header__icon,
.page-header__category:focus .page-header__icon {
  opacity: 0.7;
}

.page-header__category:active .page-header__icon {
  opacity: 0.3;
}
