.page-footer {
  display: flex; // для корректного отображения в IE11, Источник: https://codepen.io/philipwalton/pen/JdvdJE
  flex-direction: column;

  font-weight: 700;
  color: $black;

  background-color: $gray-light;
}

.page-footer__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: $mobile-width-inner;
  margin: 0 auto;

  @media #{$tablet} {
    flex-direction: row;

    width: $tablet-width-inner;
    min-height: 143px;
  }

  @media #{$desktop} {
    width: $desktop-width-inner;
  }
}

.page-footer__logo {
  @media #{$mobile-only} {
    display: none;
  }
}

.page-footer__logo[href]:hover .page-footer__logo-image,
.page-footer__logo[href]:focus .page-footer__logo-image {
  fill: $green-link;
}

.page-footer__logo[href]:active .page-footer__logo-image {
  fill: rgba($green-link, 0.3);
}

.page-footer__logo-image {
  width: 102px;
  height: 35px;

  fill: $black;

  transition: all 0.3s ease;
}

.page-footer__social {
  @media #{$mobile-only} {
    display: flex; // для корректного отображения в IE11
    flex-direction: column;

    width: 100%;

    border-bottom: 1px solid #e5e5e5;
  }

  @media #{$tablet} {
    margin-left: 159px;
  }

  @media #{$desktop} {
    margin-left: 349px;
  }
}

.page-footer__copyright {
  @media #{$mobile-only} {
    display: flex; // для корректного отображения в IE11
    flex-direction: column;
  }

  @media #{$tablet} {
    margin-left: auto;
  }
}
