.production {
  margin-bottom: 60px;

  @media #{$tablet} {
    margin-bottom: 64px;
  }

  @media #{$desktop} {
    margin-bottom: 105px;
  }
}

.production__wrapper {
  position: relative;

  display: flex;
  flex-direction: column;

  width: $mobile-width-inner;
  margin: 0 auto;

  border: 1px solid $gray-border;

  @media #{$tablet} {
    width: $tablet-width-inner;
  }

  @media #{$desktop} {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    width: $desktop-width-inner;
  }

  &:hover {
    box-shadow: 0 6px 10px 0 rgba($black, 0.1);
  }
}

.production__title {
  @include font(17px, 24px);

  position: relative;

  padding-top: 24px;
  padding-bottom: 26px;
  padding-left: 91px; // для размещения иконки
  margin: 0;

  font-weight: 700;
  color: $black;

  @media #{$tablet} {
    @include font(20px, 24px);

    padding-left: 108px;
    margin-bottom: 7px;
  }

  @media #{$desktop} {
    order: -1;

    box-sizing: border-box;
    width: 350px;
    padding-top: 94px;
    padding-right: 60px;
    padding-left: 60px;
    margin-left: 700px;
  }
}

.production__icon {
  position: absolute;
  top: 30px;
  left: 34px;

  width: 32px;
  height: 32px;

  fill: $green;

  @media #{$tablet} {
    top: 20px;
    left: 42px;
  }

  @media #{$desktop} {
    top: 43px;
    left: 63px;
  }
}

.production__video-player {
  margin-bottom: 27px;

  @media #{$tablet} {
    order: -1;

    margin-bottom: 13px;
  }

  @media #{$desktop} {
    margin-top: -175px;
    margin-bottom: 0;
  }
}

.production__content {
  padding-right: 34px;
  padding-left: 34px;

  @media #{$tablet} {
    padding-right: 40px;
    padding-left: 40px;
  }

  @media #{$desktop} {
    box-sizing: border-box;
    width: 350px;
    padding-right: 60px;
    padding-left: 60px;
  }
}

.production__description {
  @include font(13px, 24px);

  margin: 0;
  margin-bottom: 25px;

  @media #{$tablet} {
    @include font(15px, 30px);

    margin-bottom: 35px;
  }

  @media #{$desktop} {
    margin-bottom: 48px;
  }
}

.production__order {
  margin-bottom: 30px;

  @media #{$tablet} {
    margin-bottom: 45px;
  }
}
