.reviews {
  margin-bottom: 48px;

  @media (min-width: $tablet-width) {
    margin-bottom: 85px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 90px;
  }
}

.reviews__wrapper {
  width: $mobile-width-inner;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

    width: $tablet-width-inner;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 80px;
    padding-bottom: 50px;
    margin: 0 auto;

    background-image: url("../img/review@1x.jpg");
    background-color: $white;
    background-position: -50px 0;
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/review@2x.jpg");
      background-size: 350px 457px;
    }
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width-inner;
    padding-right: 0;
    padding-left: 175px;
    padding-bottom: 100px;
    box-sizing: border-box;

    background-position: 0 0;
  }
}

.reviews__title {
  margin-bottom: 20px;

  font-size: 1.67rem;
  line-height: 1.2;
  color: $headings-color;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    width: 335px;

    @include font(43px, 50px);
  }

  @media (min-width: $desktop-width) {
    width: 525px;

    @include font(53px, 57px);
  }
}

.reviews__list {
  @media (min-width: $tablet-width) {
    order: 3;
    width: 300px;
  }
}

.reviews__item {
  margin-bottom: 30px;
}

.reviews__text {
  margin-bottom: 30px;

  line-height: 2;

  @media (min-width: $tablet-width) {
    width: 668px;

    @include font(17px, 30px);
  }

  @media (min-width: $desktop-width) {
    width: 800px;
  }
}

.reviews__author-name {
  font-size: 1.13rem;
  line-height: 1.4;
  font-weight: 700;
  font-style: normal;
}

.reviews__author-nickname {
  font-size: 1.13rem;
  line-height: 1.75;
  color: $gray-dark;

  @include action($green-link, rgba($green-link, 0.3));
  @include accessibility();
}

.reviews__toggles {
  display: flex;

  height: 50px;
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    align-self: flex-end;
    order: 4;

    width: 175px;
  }
}

.reviews__toggle {
  position: relative;
  width: 50%;

  font-size: 0;

  border: 1px solid $gray-light;

  &::after {
    content: "";
    position: absolute;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/icon-left-arrow.svg");
  }

  &--next {
    border-left: none;

    &::after {
      background-image: url("../img/icon-right-arrow.svg");
    }
  }

  &:hover::after,
  &:focus::after {
    opacity: 0.6;
  }

  &:active::after {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.reviews__write {
  @media (min-width: $tablet-width) {
    order: 2;
    width: 175px;
  }
}
