.site-list {
  @include list-reset-style();

  @media #{$tablet} {
    display: flex;
    flex-wrap: wrap;
    order: 3;

    width: 310px;
  }

  @media #{$desktop} {
    order: 1;

    width: 430px;
  }
}

.site-list__item {
  @media #{$tablet-only} {
    width: 143px;
  }

  &:first-of-type {
    @media #{$desktop} {
      border-right: 1px solid $gray-border;
    }
  }

  &:first-of-type a {
    @media #{$mobile-only} {
      border-top: 1px solid $gray-border;
    }
  }

  &:nth-of-type(odd) {
    @media #{$tablet-only} {
      margin-right: 24px;
    }

    @media #{$desktop} {
      width: 184px;
    }
  }

  &:nth-of-type(even) {
    @media #{$desktop} {
      padding-left: 35px;
    }
  }

  &:nth-of-type(n + 3) {
    @media #{$desktop-except} {
      display: none;
    }
  }

  &:nth-of-type(n + 3) a {
    @media #{$desktop} {
      @include font(15px, 24px);

      padding-top: 18px;
      padding-bottom: 0;
    }
  }
}

.site-list__link {
  @include font(17px, 24px);
  @include link-dynamics($link-color--hover, $link-color--active);

  display: block;

  color: $link-color;

  cursor: pointer;

  transition: color 0.3s ease;

  @media #{$mobile-only} {
    padding-top: 28px;
    padding-bottom: 26px;
    padding-left: 76px;

    background-color: $white;
    border-top: 1px solid $gray-border;
  }

  @media #{$tablet} {
    @include font(15px, 24px);

    padding-top: 18px;
    padding-left: 0;

    background-color: transparent;
    border-top: none;
  }

  @media #{$desktop} {
    @include font(17px, 24px);

    padding-top: 30px;
    padding-bottom: 35px;
  }

  &--active {
    @include link-dynamics($link-color--active, $link-color--active);

    color: $link-color--active;

    cursor: default;
  }
}
