.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  width: 141px;

  @media (max-width: $tablet-width) {
    min-height: 80px;
    margin: 0 auto;
  }
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
  fill: $green-link;
}

.social__link:active .social__icon {
  fill: rgba($green-link, 0.3);
}

.social__icon {
  fill: $black;

  transition: all 0.3s ease;
}
