.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  width: 141px;

  @media (max-width: $tablet-width) {
    min-height: 80px;
    margin: 0 auto;
  }
}
