.social__list {
  @include list-reset-style();

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;

  width: 250px;

  @media #{$mobile-only} {
    min-height: 80px;
    margin: 0 auto;
  }

  @media #{$tablet} {
    justify-content: flex-start;

    min-height: 80px;
  }
}

.social__item {
  padding: 20px;
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
  fill: $green-link;
}

.social__link:active .social__icon {
  fill: rgba($green-link, 0.3);
}

.social__icon {
  fill: $black;

  transition: all 0.3s ease;
}
