.user-list {
  @include list-reset-style();

  @media #{$tablet} {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    order: 2;

    width: 352px;
    height: 88px;
  }

  @media #{$desktop} {
    order: 3;

    width: 430px;
  }
}

.user-list__item {
  @media #{$tablet} {
    &:first-of-type {
      width: 84px;

      border-right: 1px solid $gray-light;
      border-left: 1px solid $gray-light;
    }

    &:first-of-type a {
      font-size: 0;
    }

    &--basket a {
      padding-left: 82px;
    }

    &:nth-of-type(n + 3) a {
      @include font(15px, 24px);

      padding-top: 18px;
      padding-bottom: 0;
    }
  }

  &:nth-of-type(n + 3) {
    @media #{$mobile-only} {
      display: none;
    }
  }
}

.user-list__link {
  @include font(17px, 24px);
  @include link-dynamics($link-color--hover, $link-color--active);

  display: block;

  color: $link-color;

  cursor: pointer;

  transition: color 0.3s ease;

  @media #{$mobile-only} {
    padding-top: 28px;
    padding-bottom: 26px;
    padding-left: 76px;

    background-color: $white;
    border-top: 1px solid $gray-light;
  }

  @media #{$tablet} {
    padding-top: 30px;
    padding-bottom: 35px;

    background-color: transparent;
    border-top: none;
  }

  &--delivery {
    @include font(15px, 24px);

    font-weight: 400;
  }

  &--active {
    @include link-dynamics($link-color--active, $link-color--active);

    color: $link-color--active;

    cursor: default;
  }
}

.user-list__item--search,
.user-list__item--basket {
  position: relative;
}

.user-list__item--search:hover .user-list__icon-search,
.user-list__item--search:focus .user-list__icon-search,
.user-list__item--basket:hover .user-list__icon-cart,
.user-list__item--basket:focus .user-list__icon-cart {
  fill: $green;
}

.user-list__item--search:active .user-list__icon-search,
.user-list__item--basket:active .user-list__icon-cart {
  fill: rgba($green, 0.3);
}

.user-list__icon-search,
.user-list__icon-cart {
  position: absolute;
  top: 30px;
  left: 30px;

  fill: rgba($black, 0.2);

  transition: fill 0.3s ease;

  @media #{$tablet} {
    top: 34px;
    left: 33px;
  }
}

.user-list__icon-search {
  width: 18px;
  height: 19px;
}

.user-list__icon-cart {
  width: 21px;
  height: 18px;

  @media #{$tablet} {
    left: 30px;
  }
}
