.video-player {
  position: relative;
}

.video-player__image img {
  display: block;
}

.video-player__toggle {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 102px;
  height: 78px;

  cursor: pointer;

  background-color: transparent;
  background-image: url("../img/icon-play.svg");
  background-repeat: no-repeat;
  border: 0;

  transform: translate(-50%, -50%);

  transition: transform 0.2s ease;

  &:hover,
  &:focus {
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%) scale(1.2);
  }

  &:active {
    top: 50%;
    left: 50%;

    opacity: 0.7; // в макете -- 0,3, но смотрится плохо
    transform: translate(-50%, -50%) scale(0.8);
  }
}
